/* Coolors Exported Palette - https://coolors.co/2660a4-edf7f6-f19953-c47335-56351e */

/* CSS HEX */
--lapis-lazuli: #2660a4ff;
--azure-web: #edf7f6ff;
--sandy-brown: #f19953ff;
--copper: #c47335ff;
--caf-noir: #56351eff;

/* CSS HSL */
--lapis-lazuli: hsla(212, 62%, 40%, 1);
--azure-web: hsla(174, 38%, 95%, 1);
--sandy-brown: hsla(27, 85%, 64%, 1);
--copper: hsla(26, 57%, 49%, 1);
--caf-noir: hsla(25, 48%, 23%, 1);

/* SCSS HEX */
$lapis-lazuli: #2660a4ff;
$azure-web: #edf7f6ff;
$sandy-brown: #f19953ff;
$copper: #c47335ff;
$caf-noir: #56351eff;

/* SCSS HSL */
$lapis-lazuli: hsla(212, 62%, 40%, 1);
$azure-web: hsla(174, 38%, 95%, 1);
$sandy-brown: hsla(27, 85%, 64%, 1);
$copper: hsla(26, 57%, 49%, 1);
$caf-noir: hsla(25, 48%, 23%, 1);

/* SCSS RGB */
$lapis-lazuli: rgba(38, 96, 164, 1);
$azure-web: rgba(237, 247, 246, 1);
$sandy-brown: rgba(241, 153, 83, 1);
$copper: rgba(196, 115, 53, 1);
$caf-noir: rgba(86, 53, 30, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-right: linear-gradient(90deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-bottom: linear-gradient(180deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-left: linear-gradient(270deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-top-right: linear-gradient(45deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-bottom-right: linear-gradient(135deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-top-left: linear-gradient(225deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-bottom-left: linear-gradient(315deg, #2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);
$gradient-radial: radial-gradient(#2660a4ff, #edf7f6ff, #f19953ff, #c47335ff, #56351eff);